.telemetry {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.driving-mode {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5rem;
}

.driving-mode [hlmBtn] {
  cursor: pointer;
  min-width: 8rem;
  padding-inline: 0.75rem 2rem;
  padding-block: 1.5rem;
  background-color: #17202D;
  font-size: larger;
  text-align: left;
  justify-content: left;
  width: 100%;
}